/*
Theme Name: JNews - Child Theme
Version: 1.0.0
Theme URI: http://themeforest.net/?ref=jegtheme
Description: A basic starter child theme for customization purpose of JNews theme.
Author: Jegtheme
Author URI: http://themeforest.net/user/jegtheme?ref=jegtheme
Template: jnews
License: GPLv2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* ------------------------------------------------------------------------- *
 *  Theme customization starts here
/* ------------------------------------------------------------------------- */

.dm_video_list{display:flex;position:relative;overflow:hidden;margin-bottom:40px}
.dm_video_content{width:70%;background-color:#000}
.dm_video_holder{position:relative}
.dm_video_container{position:relative;padding-bottom:56.25%;padding-top:25px;height:0}
.dm_video_container iframe{position:absolute;top:0;left:0;width:100%;height:100%}
.dm_side_content{width:30%;background-color:#1a1a1a;color:#fff;font-size:12px;display:flex;flex-direction:column}
.dm_item_side{padding:10px;display:flex;align-items:center}
.dm_item_side .dm_thumb_video{width:130px}
.dm_item_side .dm_thumb_video img{width:100%}
.dm_item_side .dm_title_video{padding-left:10px; width: 150px;}
.dm_item_side .dm_title_video h3{color:#fff;font-size:13px}
.dm_item_side.currentdm,.dm_item_side:hover{background-color:#333;cursor:pointer}
#videoad_wrapp { max-width: 1140px; margin: 0 auto; }
.video_wrapper_responsive { position: relative; padding-bottom: 56.25%; margin-bottom: 15px; }
.video_wrapper_responsive iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
@media all and (max-width:768px),
only screen and (-webkit-min-device-pixel-ratio:2) and (max-width:1024px),
only screen and (min--moz-device-pixel-ratio:2) and (max-width:1024px),
only screen and (-o-min-device-pixel-ratio:2/1) and (max-width:1024px),
only screen and (min-device-pixel-ratio:2) and (max-width:1024px),
only screen and (min-resolution:192dpi) and (max-width:1024px),
only screen and (min-resolution:2dppx) and (max-width:1024px){
	.dm_video_list {
	    flex-direction: column;
	}
	.dm_side_content, .dm_video_content {
	    width: 100%;
	}
	.jeg_ad_article .ads-wrapper.align-right{
		float: none; text-align: center; padding: 15px 0px;
	}
}